* {
  border: none;
  font-family: "Ubuntu Mono";
  font-size: 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button.empty {
  color: #928374;
  border-right: 0px;
}

window#waybar {
  background-color: #282828;
  border-right: 2px solid #222222;
}

window .modules-center {
  font-weight: bold;
}

button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
}

#workspaces button {
  padding: 0 0;
  color: #ebdbb2;
  border-right: 2px solid #928374;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: #665c54;
}

#workspaces button.active {
  background-color: #504945;
}

#workspaces button.active:hover {
  background-color: #665c54;
}

#workspaces button.urgent {
  background-color: #fb4833;
}

#battery,
#clock,
#cpu,
#custom-media,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-style {
  color: #ebdbb2;
  padding: 8px 8px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.normal,
#temperature,
#memory,
#cpu,
#pulseaudio {
  background-color: #1d2021;
}

#battery,
#network,
#temperature.critical {
  color: #1d2021;
}

#pulseaudio {
  border-right: 2px solid #83a598;
}

#cpu {
  border-right: 2px solid #ebdbb2;
}

#memory {
  border-right: 2px solid #689d6a;
}

#temperature {
  border-right: 2px solid #fe8019;
}

#temperature.critical {
  background-color: #fb4934;
  border-right: 2px solid #fe8019;
}

#battery {
  border-right: 2px solid #b8bb26;
  background-color: #b8bb26;
}

#battery.normal {
  border-right: 2px solid #b8bb26;
  color: #ebdbb2;
}

#battery.critical {
  background-color: #fb4934;
  border-right: 2px solid #b8bb26;
}

#network {
  background-color: #8ec07c;
}

#network.disconnected {
  background-color: #fb4934;
}

#tray > .needs-attention {
  background-color: #fb4934;
}

#custom-separator,
#custom-separator_dot {
  color: #8ec07c;
}

#clock.time {
  color: #d3869b;
}

#clock.week,
#clock.month {
  color: #83a598;
}

#clock.calendar {
  color: #b16286;
}

label:focus {
  background-color: #1d2021;
}
