/* imports */
@import url("ShyFox/shy-variables.css");
@import url("ShyFox/shy-global.css");
@import url("ShyFox/shy-sidebar.css");
@import url("ShyFox/shy-toolbar.css");
@import url("ShyFox/shy-navbar.css");
@import url("ShyFox/shy-findbar.css");
@import url("ShyFox/shy-controls.css");
@import url("ShyFox/shy-compact.css");
@import url("ShyFox/shy-icons.css");
@import url("ShyFox/shy-floating-search.css");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@font-face {
  font-family: "Ubuntu Light Custom";
  src: url("https://raw.githubusercontent.com/Eject37/ReTube/main/Ubuntu%20Light.woff2") format("woff2");
}

* {
  font-family: Ubuntu mono, "Ubuntu Light Custom" !important;
}

